@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root
{
    --l-red: #ff525d;
    --vl-red: #ff7a85;
    --vd-blue: #1f3f5b;
    --white: #ffffff;
    --g-blue: #c8c8cb;
    --vdg-blue: #4b5862;
    --vdb-blue: #25252d;

    --vl-back-red: #ff8f70;
    --l-back-red: #ff3d54;

    --vdg-back-blue: #2c2d3f;
    --vd-back-blue: #3f4164;

    --font-1: Overpass;
    --font-2: Ubuntu;
}

.first
{
    text-align: center;
    font-family: var(--font-1);
    margin-top: 120px;
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: top 10% right -25%;
    height: 970px;
}

.grid-first
{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 50px;
    padding: 100px;
    text-align: left;
}

.first h1
{
    font-size: 56px;
}

.left h2
{
    font-size: 36px;
}

.left p
{
    font-size: 18px;
}

