@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root
{
    --l-red: #ff525d;
    --vl-red: #ff7a85;
    --vd-blue: #1f3f5b;
    --white: #ffffff;
    --g-blue: #c8c8cb;
    --vdg-blue: #4b5862;
    --vdb-blue: #25252d;

    --vl-back-red: #ff8f70;
    --l-back-red: #ff3d54;

    --vdg-back-blue: #2c2d3f;
    --vd-back-blue: #3f4164;

    --font-1: Overpass;
    --font-2: Ubuntu;
}

.second
{
    background-image: url(../images/bg-pattern-circles.svg), linear-gradient(90deg, #2c2d3f 0%, #3f4164 100%);
    background-repeat: no-repeat;
    background-position: left -20% top 80%;
    color: white;
    font-family: var(--font-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 30px 80px 30px 80px;
}

.second h2
{
    font-size: 36px;
}

.second p
{
    font-size: 18px;
    width: 620px;
    font-weight: 300;
    letter-spacing: 1px;
}

.textDiv
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.iconDiv
{
    position: relative;
}

.phones-icon
{
    position: absolute;
    top: -17%;
    left: 17%;
}